REVENUECAT_APPLE_KEY=appl_your_revenuecat_apple_key
REVENUECAT_GOOGLE_KEY=goog_your_revenuecat_google_key
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_client_id.apps.googleusercontent.com
